<!--The content below is only a placeholder and can be replaced.-->
<div class="logo">
  <h1>
    {{ title }}
  </h1>
  <img width="100" alt="Logo Mairie" src="http://www.montreuil.eco-mairie.fr/assets/img/7_logo.png">
<h2>Service des cartes d'identité</h2>
</div>
<div class="bloc gauche">
  <h5>Saisissez ici vos informations</h5>
<!-- pour afficher dynamiquement  -->
<!-- input type="text" value="{{user.name}}" (input)="user.name = inputName.value" #inputName />  -->
<!-- Pour afficher dynamiquement avec ngModel -->
<!-- <input type="text" [(ngModel)] ="user.name"/> -->

    <label>Nom</label>
    <input type="text" (change)="changeName($event)"/>
    <br>
    <label>Intitulé du poste</label>
    <input type="text" (change)="changejobTitle($event)"/>
    <br>
    <label>Lien photo</label>
    <input type="text" (change)="changePhotoUrl($event)"/>
    <br>
    <button (click)="saveValues($event)">Save</button>
  
</div>
<div  class="bloc droite">
<h2 [style.color] = "color ? 'red' : 'black'" >Nom : {{user.name}}</h2>
<h4>Poste : {{user.jobTitle}}</h4>
<img width="200" src="{{user.image}}" alt="image" title="votre photo">
<input defaultValue=false type="checkbox" [(ngModel)] = color/>
</div>


